API_KEY=lms_studio
CHAT_MODEL=qwen3.5-2b-uncensored-hauhaucs-aggressive
BASE_URL=http://localhost:1234/v1

DOCKER_IMAGE_BACKEND=sorry-not-hired-backend
DOCKER_IMAGE_FRONTEND=sorry-not-hired-frontend
TAG=0.1.0

VITE_BASE_URL=http://localhost:8000/api/v1
